# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# OS files
.DS_Store
Thumbs.db

# IDEs and Editors
.vscode/
.idea/
*.swp
*.swo

# Virtual Environments
venv/
.venv/
env/

# temorary files for tests
src/temp/

# Logs and temporary files
*.log
src/runners/output/    # If you create an output folder later
